
/* Color Overlay Styles */
.color-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* display: none; */
    /* justify-content: center;
    align-items: center; */
    text-align: center;
    align-content: center;
    z-index: 9999;
    background-image: radial-gradient(#ffffff 2px, transparent 2px), radial-gradient(#ffffff 2px, transparent 2px);
	background-size: 72px 72px;
	background-position: 0 0, 36px 36px;
	background-color: #E4E4ED;
}

.color-overlay.active {
    display: flex;
}

.colour-name{
    margin: 40px 0px;
    /* border: 1px solid black; */
    border-top: 1px solid slategray;
    border-bottom: 1px solid slategray;
    background: white;
    width: 100%;
    padding: 10px;
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
}

.return-btn {
    padding: 1rem 2rem;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 50px;
    box-shadow: 0 8px 20px #6300004d;
    transition: all 0.3s ease;
    cursor: pointer;
}

.return-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
}
